<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${movie.title}"></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</head>
<body>

<div style="width: 100%; max-width: 1000px; margin: 100px auto">
    <a href="/">Powrót na stronę główną</a>
    <h2 th:text="${movie.title}"></h2>

    <b>Data premiery</b>
    <span th:text="${movie.premiereDate}"></span><br/>

    <b>Opis:</b><br/>
    <span th:text="${movie.description}"></span><br/>
    <a th:href="|/film/${movie.id}/edit|">Edytuj</a>
</div>

</body>
</html>